<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mq.mapper.BannerMapper">

	<select id="selectBannerList" resultType="map" >
		select * from banner order by xh desc
	</select>
	<select id="selectBannerOne" resultType="map" parameterType="string" >
		select * from banner where id=#{id}
	</select>
	<insert id="insertBanner" parameterType="map">
		insert into banner (src,href,xh) values(#{src},#{href},#{xh})
	</insert>
	<update id="updateBanner" parameterType="map">
		update banner set src=#{src},href=#{href},xh=#{xh}
		 where id = #{id}
	</update>
	<delete id="deleteBanner" parameterType="string">
		delete from banner where id=#{id}
	</delete>
</mapper>