<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mq.mapper.NewsMapper">


	<select id="getNewsOne" resultType="map" parameterType="String">
		select * from news where id=#{id}
	</select>
	<select id="getNews" resultType="map" parameterType="map">
		select * from news where ${typesql} order by newsorder desc,createtime desc limit ${pagestart},${pagesize}
	</select>
	<select id="getNewsCount" resultType="String" parameterType="String">
		select count(1) from news where ${_parameter}
	</select>
	<select id="getNewsOrderByTime" resultType="map" parameterType="String">
		select * from news  order by createtime desc limit ${_parameter}
	</select>
	<select id="getNewsOrderByNewsorder" resultType="map" parameterType="String">
		select * from news  order by newsorder desc limit ${_parameter}
	</select>
	<insert id="insertNews" parameterType="map">
		insert into news (title,author,type,createtime,content,newsorder,delflag,imgurl1) values(#{title},#{author},#{type},now(),#{content},#{newsorder},0
		,#{imgurl1})
	</insert>
	<update id="updateNews" parameterType="map">
		update news set title=#{title},author=#{author},content=#{content},newsorder=#{newsorder},type=#{type}
		 	,imgurl1=#{imgurl1}
		 where id = #{id}
	</update>
	<delete id="deleteNews" parameterType="String">
		delete from news where id=#{id}
	</delete>
	<select id="getPreNewsId" parameterType="String" resultType="map">
		 select id,title from news where id&lt;#{id} order by id desc limit 1;
      
	</select>
	<select id="getNextNewsId" parameterType="String" resultType="map">
      select id,title from news where id&gt;#{id} order by id limit 1;
	</select>
	
</mapper>