<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mq.mapper.OtherMapper">

	<!-- 客服电话 serviceInfo-->
	<insert id="insertServiceInfo" parameterType="map">
		insert into serviceInfo (name,telphone,xh) values(#{name},#{telphone},#{xh})
	</insert>
	<update id="updateServiceInfo" parameterType="map">
		update serviceInfo set name=#{name},telphone=#{telphone},xh=#{xh}
		 where id = #{id}
	</update>
	<delete id="deleteServiceInfo" parameterType="string">
		delete from serviceInfo where id=#{id}
	</delete>
	<select id="selectAllServiceInfo" resultType="map">
		select * from serviceInfo  order by xh desc
	</select>
	<select id="selectOneServiceInfo" resultType="map" parameterType="string">
		select * from serviceInfo where id=#{id}
	</select>
</mapper>