<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mq.mapper.ProductsMapper">

	
	<insert id="insertProducts" parameterType="map">
		insert into products (type,title,imgurl1,imgurl2,remark,xh,isindextop) values(#{type},#{title},#{imgurl1},#{imgurl2},#{remark},#{xh},#{isindextop})
	</insert>
	<update id="updateProducts" parameterType="map">
		update products set title=#{title},imgurl1=#{imgurl1},imgurl2=#{imgurl2},remark=#{remark},xh=#{xh},type=#{type},isindextop=#{isindextop}
		 where id = #{id}
	</update>
	<select id="getProductsOne" resultType="map" parameterType="String">
		select * from products where id=#{id}
	</select>
	<select id="getProductsIndexTop" resultType="map" >
		select * from products where isindextop=1
	</select>
	<select id="getProducts" resultType="map" parameterType="map">
		select * from products where ${typesql} order by xh desc limit ${pagestart},${pagesize}
	</select>
	<select id="getProductsCount" resultType="String" parameterType="String">
		select count(1) from products where ${_parameter}
	</select>
	<delete id="deleteProducts" parameterType="String">
		delete from products where id=#{id}
	</delete>
	<delete id="deleteAllProductdetail" parameterType="String">
		delete from productdetail where productid=#{productid}
	</delete>
	<delete id="deleteProductdetail" parameterType="String">
		delete from productdetail where id=#{id}
	</delete>
	
	
	
	<insert id="insertProductdetail" parameterType="map">
		insert into productdetail (productid,content,xh) values(#{productid},#{content},#{xh})
	</insert>
	<update id="updateProductdetail" parameterType="map">
		update productdetail set content=#{content},xh=#{xh}
		 where id = #{id}
	</update>
	<select id="getProductdetailOne" resultType="map" parameterType="String">
		select * from productdetail  where id=#{id}
	</select>
	<select id="getProductdetailByProductid" resultType="map" parameterType="String">
		select * from productdetail where productid=#{productid} order by xh desc
	</select>
	<select id="getProductdetail" resultType="map" parameterType="map">
		select * from productdetail where productid=#{productid} order by xh desc limit ${pagestart},1
	</select>
	<select id="getProductdetailCount" resultType="String" parameterType="String">
		select count(1) from productdetail where productid=#{productid}
	</select>
</mapper>