<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mq.mapper.TypeMapper">

	
	<select id="getTypeOne" resultType="map" parameterType="String">
		select * from modeltype where id=#{id}
	</select>
	<select id="getTypes" resultType="map" parameterType="String">
		select * from modeltype  where type=#{type} order by xh desc
	</select>
	<select id="getTypesTop" resultType="map" parameterType="map">
		select * from modeltype  where type=#{type} order by xh desc limit ${top}
	</select>
	<select id="getTypes_topID" resultType="String" parameterType="String">
		select id from modeltype  where type=#{type}  order by xh desc limit 1
	</select>
	<insert id="insertType" parameterType="map">
		insert into modeltype (title,type,xh,imgurl1,remark) values(#{title},#{type},#{xh},#{imgurl1},#{remark})
	</insert>
	<update id="updateType" parameterType="map">
		update modeltype set title=#{title},xh=#{xh},imgurl1=#{imgurl1},remark=#{remark} where id = #{id}
	</update>
	<delete id="deleteType" parameterType="String">
		delete from modeltype where id=#{id}
	</delete>
</mapper>